.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h2{
    color: blue;
    text-align: center;
  }

  [data-placeholder] {
    flex: 1;
  }

  small{
    text-align: center;
  }
}